<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<arg name="world" default="empty"/> 
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find mybot_gazebo)/worlds/HPeC_sandbox.world"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="headless" value="$(arg headless)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="true"/>
	</include>

	<rosparam command='load' file="$(find parameters)/node_activation_rates.yaml" ns="node_activation_rates"/>
	<rosparam command='load' file="$(find parameters)/obstacle_detection_parameters.yaml" ns="obstacle_detection_parameters"/>
	<rosparam command='load' file="$(find parameters)/drone_features.yaml" ns="drone_features"/>
	<rosparam command="load" file="$(find parameters)/system_state.yaml"  ns="system_state"/>
	<rosparam command="load" file="$(find parameters)/camera_features.yaml" ns="camera_features" />


	<!-- LAUNCH FILE FOR TRACKING -->
	<!-- declare arg to be passed in -->
	<arg name="load_model" default="true"/>
	<arg name="auto_face_detection" default="false"/>
	<arg name="model_import_file" default="/home/labsticc/Bureau/test_model_hanouna"/>
	<arg name="model_export_file" default="/home/tld_models/sample"/>
	<arg name="cascade_path" default=
		"$(env ROS_ROOT)/../OpenCV/haarcascades/haarcascade_frontalface_alt.xml"/>

	<arg name="image_topic" default="/iris/camera2/image_raw"/>

	<!-- Nodes -->
    <node name="ros_detection_tracking_node" pkg="detection_tracking" type="detection_tracking_node"
	    output="screen">
        <!-- remap of topics -->
        <remap from="image" to="$(arg image_topic)"/>
        <remap from="bounding_box" to="tld_gui_bb"/>
        <remap from="cmds" to="tld_gui_cmds"/>

        <!-- declare param and read value of arg-->
        <param name="showOutput" value="true" type="bool"/>
        <param name="loadModel" value="$(arg load_model)" type="bool"/>
        <param name="autoFaceDetection" value="$(arg auto_face_detection)" type="bool"/>
        <param name="modelImportFile" value="$(arg model_import_file)" type="string"/>
        <param name="exportModelAfterRun" value="false" type="bool"/>
        <param name="modelExportFile" value="$(arg model_export_file)" type="string"/>
        <param name="cascadePath" value="$(arg cascade_path)" type="string"/>
        <param name="x" value="200" type="int"/>
        <param name="y" value="200" type="int"/>
        <param name="width" value="200" type="int"/>
        <param name="height" value="200" type="int"/>
        <param name="correctBB" value="false" type="bool"/>
    </node>


</launch>


